@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,900&family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500;1,700;1,900&family=Roboto:ital,wght@0,300;1,400;1,500&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.bg {
  position: fixed;
  height: 100%;
  width: 100%;
}
.close-icon {
  display: none;
}
.menu-icon {
  display: none;
}
header h1 {
  position: absolute;
  top: 35px;
  left: 30px;
}
header {
  position: relative;
  height: 100px;
  width: 100%;
}

nav ul {
  position: absolute;
  top: 45px;
  right: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 45%;
  list-style: none;
}
nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 20px;
}
.page-1 {
  position: absolute;
  height: 500vh;
  width: 100%;
}
.page-1 h1 {
  position: relative;
  font-size: 65px;
  top: 80px;
  font-weight: 600;
  left: 140px;
  width: fit-content;
}
.page-1 p {
  position: relative;
  left: 140px;
  width: 500px;
  top: 100px;
  line-height: 35px;
  font-size: 20px;
}
.profile-img2 {
  display: none;
}
.profile-img {
  position: absolute;
  height: 450px;
  width: 450px;
  object-fit: cover;
  border-radius: 50%;
  top: 80px;
  right: 15%;
}
.socials-page-1 {
  position: relative;
  left: 140px;
  top: 120px;
  width: fit-content;
}
.socials-page-1 img {
  position: relative;
  width: 35px;
  margin: 20px;
  opacity: 70%;
}
.more-btn {
  position: relative;
  top: 150px;
  border-radius: 16px;
  background: #000;
  color: rgb(255, 255, 255);
  height: 45px;
  width: 135px;
  font-weight: 500;
  font-size: 18px;
  border-style: none;
  left: 190px;
}
@media only screen and (max-width: 600px) {
  img {
    width: 100%;
    height: 100%;
  }
  header h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 22px;
  }

  nav {
    position: fixed;
    height: 500px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    z-index: 1;
    left: 0;
  }
  nav ul {
    position: relative;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: center;
    transform: translate(70%);
  }
  nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    line-height: 80px;
S  }
  .menu-icon {
    position: absolute;
    display: block;
    top: 18px;
    right: 19px;
    height: 30px;
    width: 30px;
  }
  .close-icon {
    display: block;
    position: absolute;
    top: 18px;
    right: 19px;
    height: 27px;
    width: 27px;
  }
  .page-1 {
    position: absolute;
    height: 500vh;
    width: 100%;
  }
  .page-1 h1 {
    position: relative;
    font-size: 45px;
    top: 20px;
    font-weight: 600;
    left: 24px;
    width: fit-content;
  }
  .page-1 p {
    position: relative;
    left: 30px;
    width: 90%;
    top: 40px;
    line-height: 35px;
    font-size: 20px;
  }
  .profile-img2 {
    display: block;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 70px;
    left: 50%;
    margin: 10px -125px;
  }
  .profile-img {
    display: none;
  }
  .socials-page-1 {
    position: relative;
    left: 30px;
    top: 40px;
    width: fit-content;
  }
  .socials-page-1 img {
    position: relative;
    width: 30px;
    margin: 10px;
    opacity: 70%;
  }
  .more-btn {
    position: relative;
    top: 150px;
    border-radius: 16px;
    background: #000;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 135px;
    font-weight: 500;
    font-size: 18px;
    border-style: none;
    left: 190px;
    display: none;
  }
}
